DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DRIVER=org.postgresql.Driver
TELEGRAM_TOKEN=
STACKOVERFLOW_KEY=
STACKOVERFLOW_ACCESS_KEY=
GITHUB_TOKEN=
REDIS_CLUSTER_NODES=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_SCHEMA_REGISTRY_URL=
APP_BOT_URL=
APP_SCRAPPER_URL=
APP_GRPC_HOST=
SPRING_LIQUIBASE_ENABLED=
METRICS_PUSHGATEWAY_ENABLED=
METRICS_PUSHGATEWAY_ADDRESS=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
HF_API_URL=
HF_TOKEN=
HF_MODEL=
